extends template
 
block headerBar
  script(type='text/javascript').
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        icon: '/public/ghimicelli_icon.png',
        title: '',
        buttons: {
          primary: {
            label: 'Settings',
            message: 'settings',
            href: '/settings',
            callback: function(){
              ShopifyApp.Bar.loadingOn();
            }
          }
        }
      });
    });

block content
  .container
    h4 homepage
