html
  head
  body(style="font-size:16px;font-family:Arial,'Helvetica Neue',Helvetica,sans-serif;text-align:center")
    div(style='margin:0 auto;min-width:320px;max-width:500px')
      div(style='border-collapse:collapse;display:table;width:100%')
        div(style='background-color:#8F8F8F;padding: 25px 0 50px 0px;')
          div(style="background-color:#959CA7;")
            img(src="http://via.placeholder.com/300x80/e8117f/ffffff?text=Logo" style="max-width: 100%;height: auto;")
          div(style='padding:0 50px;')
            div(style='text-align:left')
              p Hey There,
              p You Will Receive an email as soon as the item is back in stock, Thank you for your patience!

            img(src="#{data.productImage}" style="max-width: 100%;height: auto;")

            if data.promoLink && data.promoImage
              div(style='text-align:left;padding-top:12px;')
                p In the meantime, while you wait patienly here is a credict store* as a tokenof our appreciation. Credict Store will spire in 7 days.

              a(href="#{data.promoLink}")
                img(src="#{data.promoImage}" style="max-width: 100%;height: auto;")
            else
              div(style="padding-top: 30px;")

            h3 MICHAEL GHIMICELLI
