extends template

block headerBar
  script(type='text/javascript').
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        icon: '/public/ghimicelli_icon.png',
        title: 'settings',
        buttons: {
          primary: {
            label: 'Save',
            message: 'save',
            href: '/?shop=#{shopName}',
            callback: function(){
              ShopifyApp.Bar.loadingOn();
            }
          }
        }
      });
    });

block content
  .container

