.install-form {
  background-color: #cccccc;
  border-radius: 5px;
  padding: 20px;
}

.install-form input {
  width: 80%;
  min-width: 70px;
  display: inline-block;
  margin: 0px 8px;
}

body {
  background-color: #f4f6f8;
  padding-top: 24px;
}

.form-group {
  border: #dfe3e8 1px solid;
  border-radius: 10px;
  padding: 16px 12px;
}

.border-separator {
  border-bottom: #dfe3e8 1px solid;
  margin-top: 24px;
}

.text-bold {
  font-weight: bold;
}
