script(src="https://cdn.shopify.com/s/assets/external/app.js")
script(type='text/javascript').
  ShopifyApp.init({
    apiKey: 'acd8d98e6132baa18eb59c81c5faa521',
    shopOrigin: 'https://#{shopName}.myshopify.com'
  });
